html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red !important;
}

html {
  font-family: "Noto Sans", sans-serif;
}
/*-------------------------------
  Header
  -------------------------------------*/

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 180px 1fr 1fr;
  height: calc(180px + 1411px);
  position: relative;
}

.header-title {
  position: absolute;
  width: 300px;
  height: 90px;
  right: 0;
  left: 0;
  top: calc(180px + 50px);
  margin: 0 auto;
  background-color: #eee;
  text-align: center;
  font-size: 30px;
  padding: 0.3em 0.4em;
}

.wide {
  grid-column: 1 / 3;
}

.nav {
  background-color: #333;
  color: white;
}

.type1-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 592px 664px;
}

.big {
  grid-column: 2/4;
}

.aside {
  grid-column: 1/1;
  position: relative;
}

.thumbnail-aside {
  position: absolute;
  width: 383px;
  height: 300px;
  top: 50px;
  left: 50px;
}
.full-width {
  width: 100%;
}

.type2 {
  height: 1027px;
}

.type3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 1fr 1fr 1fr;
  height: calc(320px + 1411px);
}

.type4 {
  height: 421px;
}

.footer-container {
  height: 698px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav ul li {
  font-size: 30px;
}

.white-black {
  background-color: #333;
  color: white;
}

.grey-black {
  background-color: rgb(190, 190, 190);
  color: black;
}

.darkgrey-black {
  background-color: rgb(155, 153, 153);
  color: black;
}

.content {
  overflow: hidden;
}

.content h2 {
  font-size: 35px;
  font-weight: 700;
  width: 70%;
  margin: 40% auto;
  text-align: center;
}

.thumbnail h2 {
  font-size: 25px;
  font-weight: 700;
  width: 80%;
  margin: 5% auto;
  text-align: center;
}

.light-grey {
  background-color: rgb(199, 199, 199);
}
